.guess-number {
    max-width: 1090px;
    height: 163px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin: 0 auto;
    background-color: #FFFFFF;

    >.container {
        width: 576px;
        height: 91px;
        position: relative;
    }

    &__title {
        font-family: var(--montserrat);
        font-weight: 400;
        font-size: 16px;
        color: #000;
        position: absolute;
        top: 0px;
        left: 125px;
    }

    &__form {
        width: 150px;
        height: 35px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        border-radius: 20px;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    }

    &__input {
        width: 150px;
        height: 35px;
        position: absolute;
        border-radius: 20px;
        padding: 10px 45px 10px 10px;
    }

    &__button {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 115px;
        border-radius: 0 20px 20px 0;
        background-color: #000;
    }

    &__text {
        font-family: var(--montserrat);
        font-weight: 400;
        font-size: 12px;
        text-align: right;
        color: #039900;
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    &__span::after {
        width: 536px;
        height: 1px;
        content: "";
        display: block;
        position: absolute;
        top: 127px;
        left: 20px;
        background-color: #000;
    }
}